<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <!-- tabler-icons.io -->
    <link rel="stylesheet" href="https://unpkg.com/@tabler/icons@latest/iconfont/tabler-icons.min.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1> <i class="fas fa-skull"></i> Monster Slayer</h1>
    </header>
    <div id="game" v-cloak>
      <section id="monster" class="container">
        <h2>Monster Health </h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBar"></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h2>Game Over <i class="fas fa-skull-crossbones"></i> </h2>
        <h3 v-if="winner === 'monster' ">You lost!</h3>
        <h3 v-else-if="winner === 'player' ">You won!</h3>
        <h3 v-else="winner === 'draw' ">It's a draw!</h3>
        <button @click="startGame">Start Game</button>
      </section>
      <section id="controls" v-else>
        <button @click="attackMonster">ATTACK <i class="ti ti-tank"></i>
        </button>
        <button :disabled="useSpecialAttack" @click="specialAttackMonster"> SPECIAL ATTACK <i class="ti ti-axe"></i></button>
        <button @click="healPlayer">HEAL <i class="ti ti-activity"></i></button>
        <button @click="surrender">SURRENDER <i class="ti ti-hand-stop"></i></button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
      </section>
    </div>
  </body>
</html>
